@charset "UTF-8";
@media screen and (min-width: 320px) {
  html {
    overflow-x: hidden;
  }
}

body {
  background-color: getColor("background-white");
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: getColor("paragraph-color");
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

li {
  list-style-type: none;
}

ul {
  padding-left: 0;
  margin: 0 0;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

h2,
h3 {
  color: getColor("title-text-color");
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

button {
  border: none;
}

text {
  opacity: 0;
  color: rgba(0, 0, 0, 0);
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.logo, .navigation__logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  color: #2196f3;
  font-size: 24px;
  line-height: 1.17;
}
@media screen and (min-width: 1200px) {
  .logo, .navigation__logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.subscribe__button, .send__button, .order__button {
  padding: 0;
  height: 50px;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .subscribe__button, .send__button, .order__button {
    line-height: 1.88;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}
.header__container {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .header__container {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .navigation {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.navigation__desk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 93px;
}
@media screen and (max-width: 767px) {
  .navigation__desk {
    display: none;
  }
}

.logo--black {
  color: #000000;
}

.navigation__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .navigation__button {
    display: none;
  }
}

.navigation__button .icon__cross {
  display: none;
}

.navigation__button.is-open .icon__cross {
  display: block;
}

.navigation__button.is-open .icon__menu {
  display: none;
}

/* Головна сторінка */
/* Студія, Потфоліо, Контакти */
@media screen and (max-width: 767px) {
  .navigation__choiсe {
    margin-bottom: auto;
  }
}
@media screen and (min-width: 768px) {
  .navigation__choiсe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 95px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__choiсe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 283px;
  }
}

@media screen and (max-width: 767px) {
  .navigation__choiсe .navigation__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .navigation__choiсe .navigation__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (max-width: 767px) {
  .navigation__contacts .navigation__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.navigation__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #212121;
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .navigation__link {
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 0.02em;
    color: #212121;
  }
}
@media screen and (min-width: 768px) {
  .navigation__link {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.navigation__link--current {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .navigation__link--current:after {
    /* transform: translateY(32px); */
    position: absolute;
    bottom: 0;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
  }
}
@media screen and (max-width: 768px) {
  .navigation__link--current:after {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.navigation__contacts {
  letter-spacing: 0.02em;
  line-height: 1.17;
}
@media screen and (max-width: 479px) {
  .navigation__contacts {
    font-size: 22px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 768px) {
  .navigation__contacts {
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__contacts {
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/* при наведенні */
.navigation__link:hover,
.navigation__link:focus,
.navigation__contacts .navigation__mail:hover,
.navigation__contacts .navigation__mail:focus,
.navigation__contacts .navigation__tel:hover,
.navigation__contacts .navigation__tel:focus {
  color: #2196f3;
  fill: #2196f3;
}

.navigation__contacts .navigation__tel {
  color: #2196f3;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 480px) {
  .navigation__contacts .navigation__tel {
    font-size: 34px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 768px) {
  .navigation__contacts .navigation__tel {
    font-size: 12px;
    color: #757575;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__contacts .navigation__tel {
    font-size: 14px;
  }
}

.navigation__contacts .navigation__mail {
  color: #757575;
}
@media screen and (max-width: 479px) {
  .navigation__contacts .navigation__mail {
    font-size: 22px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 480px) {
  .navigation__contacts .navigation__mail {
    font-size: 24px;
  }
}
@media screen and (min-width: 768px) {
  .navigation__contacts .navigation__mail {
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__contacts .navigation__mail {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .navigation__contacts .navigation__mail {
    padding-bottom: 10px;
  }
}

.navigation__contacts .navigation__mail,
.navigation__contacts .navigation__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__mail--icon,
.navigation__tel--icon {
  fill: currentColor;
  margin-right: 10px;
  background-size: auto;
}

.navigation__contacts .navigation__item:not(:last-child) {
  margin-right: 40px;
}

@media screen and (max-width: 767px) {
  .navigation__mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: #ffffff;
    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-right: 48px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 999;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .navigation__mobile {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__mobile {
    display: none;
  }
}

.navigation__mobile.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.navigation__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .navigation__button {
    display: none;
  }
}

.navigation__button:hover,
.navigation__button:focus {
  fill: #2196f3;
}

.menu__icon--close {
  position: absolute;
  top: 21px;
  right: 21px;
}

.navigation__socials {
  color: #2196f3;
  margin-top: 64px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  letter-spacing: 0.02em;
  line-height: 1.22;
}
@media screen and (max-width: 479px) {
  .navigation__socials {
    font-size: 11px;
  }
}
@media screen and (min-width: 480px) {
  .navigation__socials {
    font-size: 18px;
  }
}

.line {
  margin-left: 10px;
  padding-right: 10px;
  color: rgba(51, 33, 33, 0.1294117647);
}

/* Ефективні рішення для вашого бізнесу */
.hero {
  margin: 0 auto;
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 767px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero_1x_480.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_1x_480.jpg");
  }
}
@media screen and (max-width: 767px) and (min-divece-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero_2x_480.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_2x_480.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero_1x_768.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_1x_768.jpg");
  }
}
@media screen and (min-width: 768px) and (min-divece-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero_2x_768.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_2x_768.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero_1x_1600.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_1x_1600.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-divece-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero_2x_1600.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_2x_1600.jpg");
  }
}

.hero__container {
  text-align: center;
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.38;
  color: #ffffff;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 0.06em;
}
@media screen and (max-width: 767px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

/* Кнопка Замовити послугу */
.order__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 200px;
}
@media screen and (min-width: 1200px) {
  .order__button {
    width: 216px;
  }
}

.order__button:hover,
.order__button:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

/* Модальное окно */
.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 2;
}
@media screen and (max-width: 479px) {
  .modal {
    height: 640px;
    width: 290px;
  }
}
@media screen and (min-width: 480px) {
  .modal {
    height: 609px;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    height: 581px;
    width: 528px;
  }
}

.button--close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
}

.close--icon {
  width: 100%;
  height: 100%;
  padding: 6px 6px 6px 6px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close--icon:hover,
.close--icon:focus {
  fill: #2196f3;
}

.your-data {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form {
  margin-top: 12px;
  text-align: left;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  width: 100%;
}

.form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.form__field:not(:last-child) {
  margin-bottom: 10px;
}

.form__label {
  margin-bottom: 4px;
}

.form__input {
  display: block;
  width: 100%;
  height: 40px;
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin: 0;
  padding: 0;
  padding-left: 42px;
  -webkit-transition-property: border-color, outline-color;
  transition-property: border-color, outline-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover,
.form__input:focus,
.form__input:focus-visible {
  border-color: #2196f3;
  outline-color: #2196f3;
}

.contact--icon {
  position: absolute;
  top: 65%;
  left: 13px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.textarea__input {
  display: block;
  resize: none;
  width: inherit;
  height: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.01em;
  border-radius: 4px;
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 12px;
  -webkit-transition-property: border-color, outline-color;
  transition-property: border-color, outline-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea__input:focus,
.textarea__input:hover,
.textarea__input:focus-visible {
  border-color: #2196f3;
  outline-color: #2196f3;
}

.textarea__input::-webkit-input-placeholder {
  /* width: 416px;
    height: 96px; */
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-bottom: 12px;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.textarea__input::-moz-placeholder {
  /* width: 416px;
    height: 96px; */
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-bottom: 12px;
  justify-content: center;
  align-items: center;
}

.textarea__input:-ms-input-placeholder {
  /* width: 416px;
    height: 96px; */
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-bottom: 12px;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.textarea__input::-ms-input-placeholder {
  /* width: 416px;
    height: 96px; */
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-bottom: 12px;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.textarea__input::placeholder {
  /* width: 416px;
    height: 96px; */
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-bottom: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__input:focus + .contact--icon,
.form__input:hover + .contact--icon {
  fill: #2196f3;
}

.confirm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: left;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1200px) {
  .confirm {
    font-size: 14px;
  }
}

.confirm__checkbox {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* position: relative; */
  /* visibility: hidden; */
}

/* .checkbox-confirm::before {
    width: 16px;
    height: 15px;
    content: "";
    position: absolute;
    background-image: url(../images/icon-tocheck.svg);
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    vertical-align: middle;
    visibility: visible;
  }  */
.confirm__checkbox:checked::before {
  width: 16px;
  height: 15px;
  content: "";
  background-image: url(../images/icon-checked.svg);
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  border: none;
  background-color: transparent;
}

.confirm__contract {
  margin-left: 8.38px;
}

.contract {
  color: #2196f3;
  text-decoration: underline;
}

.send__button {
  width: 200px;
}

.send__button,
.send__button:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.benefit {
  line-height: 1.17;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .benefit {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .benefit__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .benefit__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: -15px;
  }
}
@media screen and (min-width: 768px) {
  .benefit__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .benefit__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
    margin: 15px;
  }
}

@media screen and (max-width: 767px) {
  .benefit__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.sprite--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 450px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .sprite--icon {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .sprite--icon {
    width: 270px;
  }
}

.benefit__description {
  line-height: 1.71;
  color: #757575;
}

/* Чим ми займаємося */
@media screen and (max-width: 1199px) {
  .doing {
    display: none;
  }
}
.doing {
  padding-bottom: 94px;
}
.doing__title, .clients__title, .team__title {
  font-size: 28px;
  line-height: 1;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .doing__title, .clients__title, .team__title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}
.doing__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
  position: relative;
}
.doing__item {
  -ms-flex-preferred-size: calc(33.3333333333% - 30px);
      flex-basis: calc(33.3333333333% - 30px);
  margin-left: 30px;
}
.doing__variation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: calc(33.3333333333% - 30px);
  margin-right: 30px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  opacity: 0.8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
}
.doing__name {
  color: #ffffff;
  line-height: 1.17;
  font-weight: 700;
  font-size: 14px;
}

/* Наша команда */
.team {
  background-color: #f5f4fa;
}
.team__container {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .team__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .team__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: -15px;
  }
}
.team__item {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
    margin: 15px;
  }
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  padding-top: 30px;
  margin-bottom: 10px;
}

.job__title {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.social__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.social__item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.social__link,
.social__link--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #afb1b8;
  border-radius: 50%;
  -webkit-transition-property: background-color, fill;
  transition-property: background-color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover,
.social__link:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

/* Постійні клієнти */
.clients__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -15px;
}

.clients__item {
  margin: 15px;
  height: 92px;
  -ms-flex-preferred-size: calc((100% - 60px) / 2);
      flex-basis: calc((100% - 60px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 180px) / 6);
        flex-basis: calc((100% - 180px) / 6);
  }
}

.clients__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #afb1b8;
  fill: #afb1b8;
  -webkit-transition-property: fill, border-color;
  transition-property: fill, border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover,
.clients__link:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

/* Підвал сторінки */
.footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-left: 89px;
    padding-right: 76px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .footer__tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 60px;
  }
}

/* 1. Блок з адресою */
/* лого в підвалі */
@media screen and (min-width: 768px) {
  .logo, .navigation__logo {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .logo, .navigation__logo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.logo--white {
  color: #ffffff;
}

/* Контактна інформація */
.footer__contact {
  line-height: 1;
}
@media screen and (min-width: 1200px) {
  .footer__contact {
    line-height: 1.71;
  }
}

.footer__address {
  color: #ffffff;
  margin-top: 28px;
  display: block;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .footer__address {
    margin-top: 20px;
  }
}

.footer__mail,
.footer__tel {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 12px;
  display: block;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .footer__mail,
.footer__tel {
    margin-top: 9px;
  }
}

.footer__address:hover,
.footer__address:focus,
.footer__mail:hover,
.footer__mail:focus,
.footer__tel:hover,
.footer__tel:focus {
  color: #2196f3;
}

/* 2. Блок з соціальними контактами. Приєднуйтесь */
@media screen and (max-width: 767px) {
  .footer__social-networks {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__social-networks {
    margin-left: 70px;
    padding-top: 12px;
  }
}

.join,
.subscribe__title {
  display: block;
  line-height: 1;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .join,
.subscribe__title {
    line-height: 1.17;
  }
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .footer__social {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.social__item--footer {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.social__link--footer {
  fill: #ffffff;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link--footer:hover,
.social__link--footer:focus {
  background-color: #2196f3;
}

/* 3. Блок підписатися на розсилку */
@media screen and (min-width: 1200px) {
  .subscribe__form {
    margin-left: 93px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.subscribe__email {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: block;
}
@media screen and (min-width: 1200px) {
  .subscribe__email {
    margin-right: 10px;
  }
}

.subscribe__email--input {
  max-width: 450px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline-color: #2f303a;
  padding: 0;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding-left: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-property: border-color, outline-color;
  transition-property: border-color, outline-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .subscribe__email--input {
    width: 358px;
  }
}

.subscribe__email--input:focus,
.subscribe__email--input:hover,
.subscribe__email--input:focus-visible {
  border-color: #2196f3;
  outline-color: #2196f3;
}

.subscribe__email--input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__email--input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__email--input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__email--input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__email--input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__button {
  width: 200px;
}
@media screen and (max-width: 1199px) {
  .subscribe__button {
    margin-top: 20px;
  }
}

.subscribe__button:hover,
.subscribe__button:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe__action {
  margin-right: 10px;
}

.send--icon {
  fill: #ffffff;
  vertical-align: middle;
}

/* Радіокнопки: Усі, Веб-сайти, Додатки, Дизайн, Маркентинг */
.rbutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 56px;
}
.rbutton__item:not(:last-child) {
  margin-right: 8px;
}

.radiobutton {
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  color: #212121;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  cursor: pointer;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.radiobutton:hover, .radiobutton:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Портфоліо */
.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}
@media screen and (max-width: 767px) {
  .portfolio__item {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 30px) / 1);
        flex-basis: calc((100% - 30px) / 1);
  }
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}
.portfolio__link {
  display: block;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover, .portfolio__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__link:hover .portfolio--overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__link:hover .portfolio--action {
  opacity: 90%;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio--image {
  position: relative;
  overflow: hidden;
}

.portfolio--overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio--action {
  opacity: 1;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* transform: translate(-50%, 50%); */
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  top: 63px;
  left: 24px;
  right: 24px;
  bottom: 63px;
  font-size: 18px;
  line-height: 1.56;
}

.portfolio__content {
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px;
  border-style: solid;
  border-color: #eeeeee;
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio__type {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}/*# sourceMappingURL=main.css.map */