// Шапка сторінки

.header {
  border-bottom: 1px solid #ececec;

  &__container {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    @media screen and (max-width: 767px) {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }
}
