$colors: (
  "title-text-color": #212121,
  "paragraph-color": #757575,
  "accent-color": #2196f3,
  "hero-footer": #2f303a,
  "team": #f5f4fa,
  "background-white": #ffffff,
);

@function getColor($key) {
  @return map-get($colors, $key);
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  color: getColor("accent-color");
  font-size: 24px;
  line-height: 1.17;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}

%button {
  padding: 0;
  height: 50px;
  background-color: getColor("accent-color");
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    line-height: 1.88;
  }
}
